:root{
    --color-dark: #C3C3C3;

    --font-size: 20px;
}

/* Verstecke die Pfeile für Input vom Typ "number" */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


body{
    background-color: black;
    color: #C3C3C3;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: 100vh;
    align-items: center;

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    margin: 0;
}

input, select{
    background-color: transparent;
    color: var(--color-dark);
    font-size: var(--font-size);
    border: none;
    padding: 0;
    outline: none;
    text-align: right;
}

select{
    text-align: left;
    width: auto;
}

label, ::placeholder, input{
    color: var(--color-dark);
    font-size: var(--font-size);
}

.containerInputField{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    margin: 6px 0;
}

.inputField{
    width: 32px;
    text-align: center;
}

.labelInput{
    width: 256px;
    border-radius: 6px;
}

.inputContainer{
    display: flex;
    justify-content: right;

}

#sumMonth{
    margin-top: 16px;
}

main, #containerInput{
    margin: 32px;
}

#containerGrid {
    display: grid;
    grid-template-columns: repeat(24, 12px); /* 24 Spalten */
    grid-template-rows: repeat(39, 12px); /* 36 Zeilen */
    gap: 6px; /* Abstand zwischen den Punkten */
}

@media (max-width: 720px){
    #containerGrid{
        grid-template-columns: repeat(24, 8px); /* 24 Spalten */
        grid-template-rows: repeat(39, 8px); /* 36 Zeilen */
        gap: 4px; /* Abstand zwischen den Punkten */
    }

    div.point {
        width: 8px;
        height: 8px;
    }

    .labelInput {
        width: 256px;
    }
}

  
.point {
    width: 12px;
    height: 12px;
    background-color: #C3C3C3; /* Farbe der Punkte */
    border-radius: 50%; /* Runde die Punkte */
}

.point-categories{
    margin-left: 16px;
    width: 12px;
    height: 12px;
    background-color: var(--color-dark);
    margin: auto 12px;
    border-radius: 50%;
}
  
.headerInput{
    display: flex;
    margin-bottom: 6px;
}